<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Kế thừa (Inheritance)</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/java']" class="breadcrumb-link">Java</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Kế thừa (Inheritance)</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <p>Kế thừa là quá trình cho phép một lớp có được các thuộc tính (phương thức và các biến) của một lớp khác. Với sự kế thừa, thông tin được đặt theo thứ tự có thứ bậc có thể quản lý được.</p>
        <p>Lớp kế thừa các đặc tính của lớp khác là lớp con (subclass) (còn được gọi là lớp kế thừa); lớp mà các thuộc tính của nó được kế thừa là lớp cơ sở (hoặc lớp cha).</p>
        <p>- Để kế thừa từ một lớp, sử dụng từ khóa extends (mở rộng).</p>
        <p>Ví dụ dưới đây cho thấy làm thế nào để có lớp Dog được kế thừa từ lớp Animal.</p>
		<pre><code class="language-java">class Dog extends Animal {{ '{' }}
 // some code
{{ '}' }}</code></pre>
		<p>Ở đây, Dog là lớp con còn Animal là lớp cha.</p>
		<p>- Khi một lớp được kế thừa từ một lớp khác, nó thừa hưởng tất cả các biến và phương thức (trừ các phương thức private).</p>
		<pre><code class="language-java">class Animal {{ '{' }}
    protected int legs;
    public void eat() {{ '{' }}
        System.out.println("Animal eats");
    {{ '}' }}
{{ '}' }}

class Dog extends Animal {{ '{' }}
    Dog() {{ '{' }}
        legs = 4;
    {{ '}' }}
    
    public void variable() {{ '{' }}
        System.out.println(legs);
    {{ '}' }}
    
{{ '}' }}

class MyClass {{ '{' }}
    public static void main(String[ ] args) {{ '{' }}
        Dog d = new Dog();
        d.eat();
        d.variable();
    {{ '}' }}
{{ '}' }}

/*********
Output
Animal eats
4
*********/</code></pre>
		<p>- Constructors của lớp cha được gọi khi lớp con được khởi tạo.</p>
		<p>- Có thể truy cập lớp cha từ lớp con bằng cách sử dụng từ khóa super.</p>
		<p>Ví dụ, super.var truy cập các thành viên var của lớp cha.</p>
		<pre><code class="language-java">class A {{ '{' }} 
    int num1 = 50;
    public A() {{ '{' }} 
        System.out.println("New A");
    {{ '}' }}
{{ '}' }} 

class B extends A {{ '{' }} 
    int num1 = 100; 
    public B() {{ '{' }} 
        System.out.println("New B");
        System.out.println(num1); /*Lấy giá trị biến num1 trong lớp hiện tại nếu đã được khai báo. 
        Nếu  chưa được khai báo, nó sẽ lấy giá trị từ lớp cha.*/
        System.out.println(super.num1); /*Nếu bạn đã khai báo num1 trong cả A và B, 
        và bạn muốn lấy giá trị từ lớp cha, bạn sử dụng từ khóa super 
        và sẽ sử dụng giá trị từ lớp cha là 50*/
    {{ '}' }} 
{{ '}' }} 

class Program {{ '{' }} 
    public static void main(String[ ] args) {{ '{' }} 
        B obj = new B(); 
    {{ '}' }}
{{ '}' }}

/********
 * Output
 New A
 New B
 100
 50
 */</code></pre>
		   
    </div>
</div>
