<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="page-header">
			<h2 class="pageheader-title">Demo Call Component</h2>
			<div class="page-breadcrumb">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
						<li class="breadcrumb-item active" aria-current="page">Demo Call Component</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="min-height: 46vh;">
		<div class="row">
			<div class="col-md-4 col-lg-4 col-xl-4">
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-primary" (click)="redirectAdd()">Add</button>
						<button class="btn btn-success" (click)="redirectEdit(5)">Edit</button>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

