<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Nạp chồng phương thức và ghi đè phương thức (overloading & overriding)</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/java']" class="breadcrumb-link">Java</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Nạp chồng phương thức và ghi đè phương thức (overloading & overriding)</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    	<p><b>1. Ghi đè phương thức (overriding): </b>xảy ra nếu lớp con có phương thức giống lớp cha.</p>
		<p>- Ghi đè phương thức cũng được gọi là đa hình lúc runtime.</p>
		<p>- Nguyên tắc ghi đè phương thức:</p>
		<p class="pl-4">1. Phương thức phải có tên giống với lớp cha.</p>
		<p class="pl-4">2. Phương thức phải có tham số giống với lớp cha.</p>
		<p class="pl-4">3. Lớp con và lớp cha có mối quan hệ kế thừa.</p>
		<pre><code class="language-java"></code>class Animal {{ '{' }}
    void eat() {{ '{' }}
        System.out.println("animal...");
    {{ '}' }}
{{ '}' }}
 
class Dog extends Animal {{ '{' }}
    void eat() {{ '{' }}
        System.out.println("dog...");
    {{ '}' }}
{{ '}' }}
 
class Program {{ '{' }}
    public static void main(String args[]) {{ '{' }}
        Animal a = new Dog();
        a.eat();
    {{ '}' }}
{{ '}' }}

/*********
 * Output
 * dog...
*********/
</pre>
		<p><b>Lưu ý:</b></p>
		<p class="pl-4">- Không thể ghi đè bằng phương thức <i>final</i> hoặc <i>static</i>.</p>
		<p class="pl-4">- Không thể ghi đè <i>Constructors</i>.</p>
		<p class="pl-4">- Ghi đè phương thức thì tham số và kiểu trả về phải giống nhau.</p>
		<p class="pl-4">- Chỉ ghi đè phương thức, không ghi đè biến.</p>
		<p><b>Ví dụ:</b></p>
		<pre><code class="language-java"></code>class Bike{{ '{' }}  
    public int speedlimit = 90;  
{{ '}' }}  
class Honda3 extends Bike{{ '{' }}  
    public int speedlimit = 150;  
   
 public static void main(String args[]){{ '{' }}  
    Bike obj = new Honda3();  
    System.out.println(obj.speedlimit);
    {{ '}' }} 
{{ '}' }}

/***********
 * Output
 * 90
***********/</pre>
		<p><b>Xét ví dụ:</b></p>
		<pre><code class="language-java">class Animal {{ '{' }}
    void eat() {{ '{' }}
        System.out.println("animal...");
    {{ '}' }}
{{ '}' }}
 
class Dog extends Animal {{ '{' }}
    void eat() {{ '{' }}
        System.out.println("dog...");
    {{ '}' }}
{{ '}' }}
 
class BabyDog extends Dog {{ '{' }}
    
{{ '}' }}

class Program {{ '{' }}
    public static void main(String args[]) {{ '{' }}
        Animal a = new BabyDog();
        a.eat();
    {{ '}' }}
{{ '}' }}

/*********
 * Output
 * dog...
*********/
</code></pre>
		<p>Vì <i>BabyDog</i> không ghi đè phương thức <i>eat()</i>, nên phương thức <i>eat()</i> của lớp <i>Dog</i> được gọi.</p>
		<p><b>2. Nạp chồng phương thức (overloading): </b>xảy ra nếu một lớp có nhiều phương thức có tên giống nhau nhưng khác nhau về kiểu dữ liệu hoặc số lượng các tham số.</p>
		<p>- Nạp chồng phương thức hay còn gọi là đa hình tại complie-time.</p>
		<p>- Có 2 cách nạp chồng phương thức:</p>
		<p class="pl-4">+ Thay đổi số lượng các tham số</p>
		<p class="pl-4">+ Thay đổi kiểu dữ liệu của các tham số</p>
		<p>Ví dụ nạp chồng phương thức:</p>
		<pre><code class="language-java"></code>class Program {{ '{' }}
    static double max(double a, double b) {{ '{' }}
        return a > b ? a : b;
    {{ '}' }}
    static int max(int a, int b) {{ '{' }}
        return a > b ? a : b;
    {{ '}' }}

    public static void main(String[] args) {{ '{' }}        
        System.out.println(max(8, 17));
        System.out.println(max(3.14, 7.68));
    {{ '}' }}
{{ '}' }}

/**********
 * Output
 * 17
 * 7.68
**********/</pre>
    </div>
</div>
