<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">NgRx</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/javascript']" class="breadcrumb-link">Javascript</a></li>
                        <li class="breadcrumb-item active" aria-current="page">NgRx</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<p><b>1. Install NgRx</b></p>
		<pre><code class="language-markup">npm install @ngrx/store --save</code></pre>
		<p><b>2. Create a Customer model</b></p>
		<pre><code class="language-markup">ng g class models/customer</code></pre>
		<p><i>src\app\models\customer.ts</i></p>
		<pre><code class="language-typescript">{{ code.code_1 }}</code></pre>
		<p><b>3. Add Actions</b></p>
		<p><i>src/app/customer.actions.ts</i></p>
		<pre><code class="language-typescript">{{ code.code_2 }}</code></pre>
		<p><b>4. Add a Customer Reducer</b></p>
		<p><i>src/app/customer.reducer.ts</i></p>
		<pre><code class="language-typescript">{{ code.code_3 }}</code></pre>
		<p><b>5. Add an NgRx Store to the App</b></p>
		<p><i>src/app/app.module.ts</i></p>
		<pre><code class="language-typescript">{{ code.code_4 }}</code></pre>
		<p><b>6. Add a UI Component for View Customers</b></p>
		<p><i>customers-view.compoment.ts</i></p>
		<pre><code class="language-typescript">{{ code.code_5 }}</code></pre>
		<p><i>customers-view.compoment.html</i></p>
		<pre><code class="language-markup">{{ code.code_6 }}</code></pre>
		<p><i>customers-view.compoment.css</i></p>
		<pre><code class="language-css">{{ code.code_7 }}</code></pre>
		<p><b>7. Add UI Controls to Add New Customers</b></p>
		<pre><code class="language-markup">ng g c CustomerAdd</code></pre>
		<p><i>customer-add.component.ts</i></p>
		<pre><code class="language-typescript">{{ code.code_8 }}</code></pre>
		<p><i>customer-add.component.html</i></p>
		<pre><code class="language-markup">{{ code.code_9 }}</code></pre>
		<p><b>8. Update the App Component With CustomerView and CustomerAdd Component</b></p>
		<p><i>app.component.html</i></p>
		<pre><code class="language-markup">{{ code.code_10 }}</code></pre>
		<p><b>9. Run the App</b></p>
		<pre><code class="language-markup">npm start</code></pre>
		<p><b>10. Hook Up a 'Remove Customer' Action</b></p>
		<p>Add the following to our customers-view.compoment.ts file:</p>
		<pre><code class="language-typescript">{{ code.code_11 }}</code></pre>
		<p><i>customers-view.compoment.ts</i></p>
		<pre><code class="language-markup">{{ code.code_12 }}</code></pre>
		<p>ST: <a href="https://dzone.com/articles/angular-app-state-management-with-ngrx" target="blank">https://dzone.com/articles/angular-app-state-management-with-ngrx</a></p>
    </div>
</div>

