<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="page-header">
			<h2 class="pageheader-title">Demo Pattern</h2>
			<div class="page-breadcrumb">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
						<li class="breadcrumb-item active" aria-current="page">Demo Pattern</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="row">
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12" *ngFor="let item of pattern">
				<div class="card border-3 border-top-primary">
					<div class="card-header">
					<p><b>Pattern #{{item.id}}</b></p>
					</div>
					<div class="card-body">
						<pre><code class="language-java">{{item.pattern}}</code></pre>
						<button type="button" class="btn btn-primary" data-toggle="modal" attr.data-target="#modalpattern{{item.id}}">
							View code
						</button>

						<!-- Modal -->
						<div class="modal fade" attr.id="modalpattern{{item.id}}" tabindex="-1" role="dialog" attr.aria-labelledby="modalpatternTitle{{item.id}}" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" attr.id="modalpatternTitle{{item.id}}">Pattern {{item.id}}</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
									<div class="row">
										<div class="col-4">
											<pre><code class="language-java">{{item.pattern}}</code></pre>
										</div>
										<div class="col-8">
											<pre><code class="language-csharp">{{item.contentCode}}</code></pre>	
										</div>
									</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>