<!-- ============================================================== -->
<!-- left sidebar -->
<!-- ============================================================== -->
<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Trang chủ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Programming language
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/java"><i class="fab fa-java"></i>Java</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/ide"><i class="fab fa-ideal"></i>IDE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/pattern"><i class="fas fa-laptop-code"></i>Pattern</a>
                    </li>
                    <li class="nav-divider">
                        Tip and Trick
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/download"><i class="fas fa-cloud-download-alt"></i>Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-21" aria-controls="submenu-21"><i class="fas fa-f fa-folder"></i>LibraryAngular</a>
                        <div id="submenu-21" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                 <li class="nav-item">
                                    <a class="nav-link" routerLink="/prism">Prism</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/">Home</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-22" aria-controls="submenu-22"><i class="fas fa-f fa-folder"></i>Demo</a>
                        <div id="submenu-22" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/demo-pattern">Pattern</a>
                                </li>
                                 <li class="nav-item">
                                    <a class="nav-link" routerLink="/demo-japan">Japan</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- ============================================================== -->
<!-- end left sidebar -->
<!-- ============================================================== -->