<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Code syntax highlighting with Angular and Prism.js</h2>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h5>1. Install Prism from npm</h5>
    <pre><code class="language-typescript">$ npm install prismjs --save</code></pre>
    <h5>2. Create highlight service</h5>
    <pre><code class="language-typescript">ng generate service services/highlight/highlight</code></pre>
    <pre><code class="language-typescript">import {{ '{' }} Injectable, Inject {{ '}' }} from '@angular/core';

import {{ '{' }} PLATFORM_ID {{ '}' }} from '@angular/core';
import {{ '{' }} isPlatformBrowser {{ '}' }} from '@angular/common';

import 'prismjs';
import 'prismjs/components/prism-css';
import 'prismjs/components/prism-javascript';
import 'prismjs/components/prism-java';
import 'prismjs/components/prism-markup';
import 'prismjs/components/prism-typescript';
import 'prismjs/components/prism-sass';
import 'prismjs/components/prism-scss';

declare var Prism: any;

@Injectable({{ '{' }}
  providedIn: 'root'
{{ '}' }})
export class HighlightService {{ '{' }}
  constructor(@Inject(PLATFORM_ID) private platformId: Object) {{ '{' }}{{ '}' }}
  highlightAll() {{ '{' }}
      if (isPlatformBrowser(this.platformId)) {{ '{' }}
        Prism.highlightAll();
      {{ '}' }}
  {{ '}' }}
{{ '}' }}</code></pre>
    Add service into app.module.ts
    <pre><code class="language-typescript">import {{ '{' }} HighlightService {{ '}' }} from "./services/highlight/highlight.service";
    ...
providers: [HighlightService],</code></pre>
    <h5>3. Use highlight service in your component</h5>
    <pre><code class="language-typescript">import {{ '{' }} Component, OnInit {{ '}' }} from '@angular/core';
import {{ '{' }} HighlightService {{ '}' }} from "./../../../../services/highlight/highlight.service";

@Component({{ '{' }}
  selector: 'app-lib-prism',
  templateUrl: './lib-prism.component.html',
  styleUrls: ['./lib-prism.component.css']
{{ '}' }})
export class LibPrismComponent implements OnInit {{ '{' }}
  private highlighted: boolean = false;

  constructor(private highlightService: HighlightService) {{ '{' }} {{ '}' }}

  ngOnInit(): void {{ '{' }}
  {{ '}' }}
  ngAfterViewChecked() {{ '{' }}
    if (!this.highlighted) {{ '{' }}
      this.highlightService.highlightAll();
      this.highlighted = true;
    {{ '}' }}
  {{ '}' }}
{{ '}' }}</code></pre>
  </div>
</div>
