<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Cài đặt maven và tạo project</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/java']" class="breadcrumb-link">Java</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cài đặt maven và tạo project</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    	<p><b>1. Tạo project</b></p>
    	<p>Vào trang download: <a href="https://start.spring.io/" target="blank">https://start.spring.io/</a></p>
    	<div class="pl-5 pb-3">
        	<img src="assets/images/pages/java/spring/spring-start.jpg" alt="" style="width: 80%;">
        </div>
        <p><b>2. Cài đặt maven</b></p>
        <p>Tải maven tại: <a href="http://maven.apache.org/download.cgi" target="blank">http://maven.apache.org/download.cgi</a></p>
        <div class="pl-5 pb-3">
        	<img src="assets/images/pages/java/spring/download-maven.jpg" alt="" style="width: 80%;">
        </div>
        <p>Sau khi download xong Maven, giải nén file zip vào một thư mục nào đó trên ổ cứng. Chẳng hạn bạn giải nén vào: D:\Maven</p>
        <div class="pl-5 pb-3">
        	<img src="assets/images/pages/java/spring/save-maven.jpg" alt="" style="width: 80%;">
        </div>
        <p>Cài đặt biến môi trường:</p>
        <div class="pl-5 pb-3">
        	<img src="assets/images/pages/java/spring/moi-truong-maven.jpg" alt="" style="width: 50%;">
        </div>
        <p>Kiểm tra version maven đã cài đặt:</p>
        <div class="pl-5 pb-3">
        	<img src="assets/images/pages/java/spring/maven-version-cmd.jpg" alt="" style="width: 80%;">
        </div>
        <p>Khai báo vị trí cài đặt Maven (Nếu cần)</p>
        <p>Vào thư mục: D:\Maven\apache-maven-3.6.3\conf</p>
        <div class="pl-5 pb-3">
        	<img src="assets/images/pages/java/spring/maven-conf.jpg" alt="" style="width: 50%;">
        </div>
        <p>Mở file settings.xml để thay đổi thư mục lưu maven (mặc định sẽ là C:\Users\{{ '{' }}tên_user{{ '}' }}\.m2</p>
        <div class="pl-5 pb-3">
        	<img src="assets/images/pages/java/spring/maven-setting.jpg" alt="" style="width: 80%;">
        </div>
        <p>Trên Eclipse chọn Window => Reference => Maven => Installations => Add</p>
         <div class="pl-5 pb-3">
        	<img src="assets/images/pages/java/spring/maven-add.jpg" alt="" style="width: 40%;">
        </div>
     	<div class="pl-5 pb-3">
        	<img src="assets/images/pages/java/spring/maven-check.jpg" alt="" style="width: 50%;">
        </div>
        <p>Tiếp theo khai báo vị trí file cấu hình của Maven.</p>
        <div class="pl-5 pb-3">
        	<img src="assets/images/pages/java/spring/maven-user-setting.jpg" alt="" style="width: 60%;">
        </div>
        <p>Đến đây việc cài đặt Maven cho Eclipse hoàn thành.</p>
    </div>
</div>