<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">CSS Image Overlay Hover Effects</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/css']" class="breadcrumb-link">CSS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">CSS Image Overlay Hover Effects</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    	<div class="result">
    		<div class="content-css">
				<div class="image-box-css">
					<img src="assets/images/pages/css/shutterstock.jpg" alt="">
					<div class="text-box-css">
						<h2>Image Overlay Hover Effects</h2>
					</div>
				</div>
			</div>
    	</div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    	<p><b>HTML</b></p>
    	<pre><code class="language-xml">{{ code.code_1 }}</code></pre>
    	<p><b>CSS</b></p>
    	<pre><code class="language-css">{{ code.code_2 }}</code></pre>
    </div>
</div>