<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
	<app-header></app-header>
	<app-sidebar></app-sidebar>
	
	<!-- ============================================================== -->
	<!-- wrapper  -->
	<!-- ============================================================== -->
	<div class="dashboard-wrapper">
		
	    <div class="container-fluid dashboard-content">
	    	<div class="card">
	    		<div class="card-body">
	    			<router-outlet #o="outlet"></router-outlet>
	    		</div>
	    	</div>
	    	
	    </div>
	    <app-footer></app-footer>
	    <app-table-of-content></app-table-of-content>
	</div>
	<!-- ============================================================== -->
	<!-- end main wrapper -->
	<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper -->