<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Annotation</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/java']" class="breadcrumb-link">Java</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Annotation</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <p><a href="javascript:void(0)"></a></p>
        <p><a href="javascript:void(0)">1. Annotations cho Class</a></p>
        <p class="pl-4"><a [routerLink]="['/java/jpa-anotation/entity']">1.1 @Entity</a></p>
        <p class="pl-4"><a href="javascript:void(0)">1.2 @IdClass</a></p>
        <p class="pl-4"><a href="javascript:void(0)">1.3 @Embeddable</a></p>
        <p><a href="javascript:void(0)">2. Annotations cho Fields</a></p>
        <p class="pl-4"><a href="javascript:void(0)">2.1 @Embedded</a></p>
        <p class="pl-4"><a href="javascript:void(0)">2.2 @ElementCollection</a></p>
        <p class="pl-4"><a href="javascript:void(0)">2.3 @Id</a></p>
        <p class="pl-4"><a href="javascript:void(0)">2.4 @EmbeddedId</a></p>
        <p class="pl-4"><a href="javascript:void(0)">2.5 @Version</a></p>
        <p class="pl-4"><a href="javascript:void(0)">2.6 @Transient</a></p>
        <p class="pl-4"><a href="javascript:void(0)">2.7 @Enumerated</a></p>
        <p class="pl-4"><a href="javascript:void(0)">2.8 @Temporal</a></p>
        <p><a href="javascript:void(0)">3. Annotations cho Relationships</a></p>
        <p class="pl-4"><a href="javascript:void(0)">3.1 @ManyToMany</a></p>
        <p class="pl-4"><a href="javascript:void(0)">3.2 @ManyToOne</a></p>
        <p class="pl-4"><a href="javascript:void(0)">3.3 @OneToMany</a></p>
        <p class="pl-4"><a href="javascript:void(0)">3.4 @OneToOne</a></p>
        <p class="pl-4"><a href="javascript:void(0)">3.5 @OrderBy</a></p>
        <p><a href="javascript:void(0)">4. Annotations cho GeneratedValue</a></p>
        <p class="pl-4"><a href="javascript:void(0)">4.1 @GeneratedValue</a></p>
        <p class="pl-4"><a href="javascript:void(0)">4.2 @GenerationType</a></p>
        <p class="pl-4"><a href="javascript:void(0)">4.3 @SequenceGenerator</a></p>
        <p class="pl-4"><a href="javascript:void(0)">4.4 @TableGenerator</a></p>
        <p><a href="javascript:void(0)">5. Annotations cho JPQL Queries</a></p>
        <p class="pl-4"><a href="javascript:void(0)">5.1 @NamedQuery</a></p>
        <p><a href="javascript:void(0)">6. Annotations cho Mapping (ORM)</a></p>
        <p class="pl-4"><a href="javascript:void(0)">6.1 @CollectionTable</a></p>
        <p class="pl-4"><a href="javascript:void(0)">6.2 @Column</a></p>
        <p class="pl-4"><a href="javascript:void(0)">6.3 @JoinColumn</a></p>
        <p class="pl-4"><a href="javascript:void(0)">6.4 @JoinColumns</a></p>
        <p class="pl-4"><a href="javascript:void(0)">6.5 @Lob</a></p>
        <p class="pl-4"><a href="javascript:void(0)">6.6 @MapKeyColumn</a></p>
        <p class="pl-4"><a href="javascript:void(0)">6.7 @OrderColumn</a></p>
        <p class="pl-4"><a href="javascript:void(0)">6.8 @Table</a></p>
        <p class="pl-4"><a href="javascript:void(0)">6.9 @UniqueConstraint</a></p>
        <p><a href="javascript:void(0)">7. Annotations cho Java EE</a></p>
        <p class="pl-4"><a href="javascript:void(0)">7.1 @PersistenceContext</a></p>
        <p class="pl-4"><a href="javascript:void(0)">7.2 @PersistenceContextType</a></p>
        <p class="pl-4"><a href="javascript:void(0)">7.3 @PersistenceContexts</a></p>
        <p class="pl-4"><a href="javascript:void(0)">7.3 @PersistenceProperty</a></p>
        <p class="pl-4"><a href="javascript:void(0)">7.4 @PersistenceUnit</a></p>
        <p class="pl-4"><a href="javascript:void(0)">7.5 @PersistenceUnits</a></p>
    </div>
</div>

