<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Giao diện (Interfaces)</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/java']" class="breadcrumb-link">Java</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Giao diện (Interfaces)</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    	<p>Giao diện là một lớp hoàn toàn trừu tượng chỉ chứa các phương thức trừu tượng.</p>
    	<p>Một số thông số kỹ thuật cho giao diện:</p>
    	<p class="pl-4">- Xác định bằng cách sử dụng từ khóa interface.</p>
    	<p class="pl-4">- Có thể chỉ chứa các biến static, public, final.</p>
    	<p class="pl-4">- Không thể chứa một constructor.</p>
    	<p class="pl-4">- Giao diện có thể mở rộng các giao diện khác.</p>
    	<p><b>Ví dụ:</b></p>
		<pre><code class="language-java">interface Animal {{ '{' }}
  public void eat();
  public void makeSound();
{{ '}' }}</code></pre>
		<p>Giao diện có các thuộc tính sau:</p>
		<p class="pl-4">- Một giao diện được ngầm hiểu là trừu tượng. Bạn không cần phải sử dụng từ khoá abstract trong khi khai báo một giao diện.</p>
		<p class="pl-4">- Mỗi phương thức trong một giao diện cũng được ngầm hiểu là trừu tượng, vì vậy từ khoá abstract là không cần thiết.</p>
		<p class="pl-4">- Phương thức trong một giao diện được ngầm hiểu là public.</p>
		<p>Một lớp có thể kế thừa từ một lớp cha, nhưng có thể thực hiện nhiều giao diện!</p>
		<p>Sử dụng từ khóa <i>implements</i> để kế thừa từ các interface.</p>
		<pre><code class="language-java">interface Animal {{ '{' }}
    public void eat();
    public void makeSound();
{{ '}' }}

class Cat implements Animal {{ '{' }}
    public void makeSound() {{ '{' }}
        System.out.println("Meow");
    {{ '}' }}
    public void eat() {{ '{' }}
        System.out.println("omnomnom");
    {{ '}' }}
{{ '}' }}

public class Program {{ '{' }}
    public static void main(String[] args) {{ '{' }}
        Cat c = new Cat();
        c.eat();
    {{ '}' }}
{{ '}' }}

/***********
 * Output
 * omnomnom
*************/</code></pre>
		<p>Khi bạn thực hiện một giao diện, bạn cần phải ghi đè tất cả các phương thức của nó.</p>
    </div>
</div>
