<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="page-header">
			<h2 class="pageheader-title">CSS</h2>
			<div class="page-breadcrumb">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a routerLink="/" class="breadcrumb-link">Trang chủ</a></li>
						<li class="breadcrumb-item active" aria-current="page">CSS</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="accrodion-regular accordion-custom">
			<div id="accordion">
				<div class="row">
					<!-- left -->
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
						<div class="card">
							<div class="card-header" id="heading1">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
										<b>CSS Text Effect</b>
									</button>
								</h5>
							</div>
							<div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
								<div class="card-body">
									<ol>
										<li><a routerLink="/css/20170115-spin-text-on-mouse-hover">Spin Text On Mouse Hover</a></li>
										<li><a routerLink="/css/20170121-skew-text-on-hover">Skew Text On Hover</a></li>
										<li><a routerLink="/css/20170121-3d-text-on-hover">3D Text On Hover</a></li>
									</ol>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="heading3">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
										<b>CSS Card Effect</b>
									</button>
								</h5>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
								<div class="card-body">
									<ol>
										<li><a routerLink="/css/20170115-spin-text-on-mouse-hover">3d Card Flip Animation</a></li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					<!-- end left -->
					<!-- right -->
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
						<div class="card">
							<div class="card-header" id="heading2">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
										<b>CSS Image Effect</b>
									</button>
								</h5>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
								<div class="card-body">
									<ol>
										<li><a routerLink="/css/20170121-css-image-overlay-hover-effects">CSS Image Overlay Hover Effects</a></li>
										<li><a routerLink="/css/20170122-css-image-hover-effects">CSS Image Hover Effects</a></li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					<!-- end right -->
				</div>

			</div>
		</div>
	</div>
</div>


