<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="page-header">
			<h2 class="pageheader-title">HotKey Visual Studio</h2>
			<div class="page-breadcrumb">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
						<li class="breadcrumb-item"><a [routerLink]="['/ide']" class="breadcrumb-link">IDE</a></li>
						<li class="breadcrumb-item active" aria-current="page">HotKey Visual Studio</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th scope="col" style="min-width: 225px;">Hotkey</th>
					<th scope="col">Chức năng</th>
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<th>F12 – See implementation</th>
					<td>Xem chi tiết một class hay method.</td>
				</tr>
				<tr>
					<th>Ctrl R + Ctrl E</th>
					<td>Tạo nhanh get set</td>
				</tr>
				<tr>
					<th>Ctrl K + Ctrl D</th>
					<td>Format Code.</td>
				</tr>
				<tr>
					<th>Ctrl K + Ctrl C</th>
					<td>Comment một đoạn code</td>
				</tr>
				<tr>
					<th>Ctrl K + Ctril U</th>
					<td>Bỏ comment một đoạn code</td>
				</tr>
				<tr>
					<th scope="row">F5 – Ctrl F5</th>
					<td>Debug code. Trường hợp đặt breakpoint để bug, hãy bấm Ctrl + F5 để chạy chế độ no debug, bỏ qua breakpoint</td>
				</tr>
				<tr>
					<th>F9</th>
					<td>Đặt nhanh breakpoint</td>
				</tr>
				<tr>
					<th>F10/F11</th>
					<td> Step over/Step into (Dùng trong debug)</td>
				</tr>
				<tr>
					<th>Ctrl K + Ctrl S</th>
					<td>Tạo nhanh snippet - để tạo nhanh for, while, if, contructor...</td>
				</tr>
				<tr>
					<th>Ctrl K + Ctrl X</th>
					<td>Tương tự Ctrl K + Ctrl S nhưng có thể chọn nhiều hơn cho ASP.Net, test, Visual...</td>
				</tr>
				<tr>
					<th>Giữ Ctrl + click chuột</th>
					<td>Sửa nhiều dòng code một lúc sử dụng Box Selection</td>
				</tr>
				
				<tr>
					<th>Ctrl L</th>
					<td>Xóa dòng hiện tại (tại điểm con trỏ chuột).</td>
				</tr>
				<tr>
					<th>Shift + Alt + T</th>
					<td>Đổi chỗ dòng tại vị trí chuột với dòng dưới nó.</td>
				</tr>
				<tr>
					<th>Ctrl + U</th>
					<td>Chuyển đổi các ký tự được bôi đen thanh chữ thường.</td>
				</tr>
				<tr>
					<th>Ctrl + Shift + U</th>
					<td>Chuyển đổi các ký tự được bôi đen thường thành chữ in HOA.</td>
				</tr>
				<tr>
					<th>#region ...#endregion</th>
					<td>Thu gọn code. Cú pháp: <br>
                #region tên_chú_thích_cho_đoạn_code <br>
                ............ <br>
                nội dung code <br>
                ........... <br>
                #endregion</td>
				</tr>
				<tr>
					<th></th>
					<td></td>
				</tr>

			</tbody>
		</table>
	</div>
</div>