<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="page-header">
			<h2 class="pageheader-title">Danh sách liên kết</h2>
			<div class="page-breadcrumb">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a routerLink="/" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Danh sách liên kết</li>
					</ol>
                </nav>
			</div>
		</div>
	</div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h4 class="float-right"><a [routerLink]="['/admin/homelink/create']">Tạo mới</a></h4>
	</div>
</div>
<div class="row" *ngIf="listHomeLink">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="accrodion-regular accordion-custom">
		    <div id="accordion">
		        <div class="card" *ngFor="let item of listHomeLink; let i = index">
		            <div class="card-header" id="heading{{ i }}">
		                <h5 class="mb-0">
		                    <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapse{{ i }}" aria-expanded="false" attr.aria-controls="collapse{{ i }}">
		                    <b>{{ item.name }}</b>
                            </button>
                            <h5 class="float-right">
								<button type="button" class="btn btn-danger btn-xs" (click)="delete(item.id)">
									<i class="fas fa-trash-alt"></i>
								</button>
								<button type="button" class="btn btn-success btn-xs" (click)="updateRedirect(item.id)">
									<i class="fas fa-edit"></i>
								</button>
							</h5>
		                </h5>
		            </div>
		            <div id="collapse{{ i }}" class="collapse" attr.aria-labelledby="heading{{ i }}" data-parent="#accordion">
		                <div class="card-body" *ngIf="item.listHomeLinkDetail">
		                    <table datatable class="display order-column cell-border hover">
								<thead>
								  <tr>
									<th>ID</th>
									<th>Tên liên kết</th>
									<th>Cập nhật</th>
									<th>Xóa</th>
								  </tr>
								</thead>
								<tbody>
								  <tr *ngFor="let itemDetail of item.listHomeLinkDetail">
									<td>{{ itemDetail.id }}</td>
									<td>{{ itemDetail.name }}</td>
									<td>update</td>
									<td>delete</td>
								  </tr>
								</tbody>
							</table>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>