<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Construcstors</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/java']" class="breadcrumb-link">Java</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Construcstors</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <p>Constructor là các phương thức đặc biệt được gọi ra khi một đối tượng được tạo ra và được sử dụng để khởi tạo. Một constructor có thể được sử dụng để cung cấp giá trị ban đầu cho các thuộc tính đối tượng.</p>
        <p>- Tên Constructor phải giống với tên lớp của nó.</p>
        <p>- Constructor không có kiểu trả về.</p>
        <p>Ví dụ về Constructor</p>
		<pre><code class="language-java">{{ code.code_1 }}</code></pre>
		<p>- Phương thức Vehicle () là hàm dựng của lớp, do đó bất cứ khi nào một đối tượng của lớp được tạo ra, thuộc tính color sẽ được đặt thành 'Red'.</p>
		<p>- Một Constructor cũng có thể lấy các tham số để khởi tạo các thuộc tính.</p>
		<pre><code class="language-java">{{ code.code_2 }}</code></pre>
		<p>- Một Constructor được gọi là khi bạn tạo một đối tượng sử dụng từ khoá new.</p>
		<pre><code class="language-java">{{ code.code_3 }}</code></pre>
		<p>- Một lớp duy nhất có thể có nhiều Constructor với số lượng các tham số khác nhau.</p>
		<p>- Các phương thức setter trong các constructor có thể được sử dụng để thiết lập các giá trị thuộc tính.</p>
		<pre><code class="language-java">{{ code.code_4 }}</code></pre>
		<p>- Lớp trên có hai constructor, một là không có bất kỳ tham số nào thiết lập cho thuộc tính color và nó có một giá trị mặc định là 'Red' và một constructor khác chấp nhận tham số và gán nó cho thuộc tính.</p>
		<p>Ví dụ:</p>
		<pre><code class="language-java">{{ code.code_5 }}</code></pre>
    </div>
</div>
