<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="page-header">
			<h2 class="pageheader-title">Trang chủ</h2>
		</div>
	</div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<section id="first">
			<div class="row">
				<div class="col-md-3 col-lg-3 col-xl-3">
					<div class="card">
						<div class="card-header">
							EXERCISE
						</div>
						<div class="card-body bg-dark">
							<div class="listol">
								<ol style="list-style-image: url('./assets/images/pages/nested.png');">
									<li><a href="https://app.codesignal.com/" target="_blank">codesignal</a></li>
									<li><a href="https://www.hackerrank.com/" target="_blank">hackerrank</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col-xl-3">
					<div class="card">
						<div class="card-header">
							YOUTUBE
						</div>
						<div class="card-body bg-dark">
							<div class="listol">
								<ol style="list-style-image: url('./assets/images/pages/nested.png');">
									<li><a href="https://www.youtube.com/channel/UCbwXnUipZsLfUckBPsC7Jog/playlists" target="_blank">Online Tutorials</a></li>
									<li><a href="https://www.youtube.com/user/DesignCourse/playlists" target="_blank">DesignCourse</a></li>
									<li><a href="https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ/playlists" target="_blank">FreeCodeCamp</a></li>
									<li><a href="https://www.youtube.com/user/edurekaIN/playlists" target="_blank">EdurekaIN</a></li>
									<li><a href="https://www.youtube.com/c/Hoctiengnhatcosmos" target="_blank">Tiếng Nhật Cosmos</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col-xl-3">
					<div class="card">
						<div class="card-header">
							UTILITIES
						</div>
						<div class="card-body bg-dark">
							<div class="listol">
								<ol style="list-style-image: url('./assets/images/pages/nested.png');">
									<li><a href="https://www.diffnow.com/compare-clips" target="_blank">Compare File</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col-xl-3">
					<div class="card">
						<div class="card-header">
							JAVA
						</div>
						<div class="card-body bg-dark">
							<div class="listol">
								<ol style="list-style-image: url('./assets/images/pages/nested.png');">
									<li><a href="https://www.logicbig.com/tutorials/java-ee-tutorial.html" target="_blank">Java EE</a></li>
									<li><a href="https://www.logicbig.com/tutorials/spring-framework.html" target="_blank">Spring</a></li>
									<li><a href="https://www.objectdb.com/" target="_blank">JPA</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<b class="hr anim"></b>
			<div class="row">
				<div class="col-md-3 col-lg-3 col-xl-3">
					<div class="card">
						<div class="card-header">
							AIT
						</div>
						<div class="card-body bg-dark">
							<div class="listol">
								<ol style="list-style-image: url('./assets/images/pages/nested.png');">
									<li><a href="http://172.30.5.100/pe4j/" target="_blank">Working Time</a></li>
									<li><a href="http://pm.aureole-it.vn/" target="_blank" title="username: tantq, pass:...">Red Mine</a></li>
									<li><a href="http://192.168.136.71/" target="_blank">Từ điển</a></li>
									<li><a href="http://git.aureole-it.vn" target="_blank">git.aureole-it</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col-xl-3">
					<div class="card">
						<div class="card-header">
							HTML-CSS
						</div>
						<div class="card-body bg-dark">
							<div class="listol">
								<ol style="list-style-image: url('./assets/images/pages/nested.png');">
									<li><a href="https://freefrontend.com/" target="_blank">freefrontend</a></li>
                  					<li><a href="https://css-tricks.com/" target="_blank">css-tricks</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col-xl-3">
					<div class="card">
						<div class="card-header">
							C#
						</div>
						<div class="card-body bg-dark">
							<div class="listol">
								<ol style="list-style-image: url('./assets/images/pages/nested.png');">
									<li><a href="https://demo.simplcommerce.com/" target="_blank">SimplCommerce Demo</a></li>
									<li><a href="https://github.com/simplcommerce/SimplCommerce" target="_blank">SimplCommerce Code</a></li>
									<li><a href="https://www.extensionmethod.net/" target="_blank">Extension Method</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col-xl-3">
					<div class="card">
						<div class="card-header">
							RUN CODE
						</div>
						<div class="card-body bg-dark">
							<div class="listol">
								<ol style="list-style-image: url('./assets/images/pages/nested.png');">
									<li><a href="https://rextester.com/" target="_blank">Rextester</a></li>
									<li><a href="https://jsbin.com/" target="_blank">JSBbin</a></li>
									<li><a href="http://sqlfiddle.com/" target="_blank">SQL Fiddle</a></li>
									<li><a href="https://jsfiddle.net/" target="_blank">JS Fiddle</a></li>
									<li><a href="http://ideone.com/" target="_blank">Ideone</a></li>
									<li><a href="http://jsdo.it/" target="_blank">JSdo.it</a></li>
									<li><a href="https://dotnetfiddle.net/" target="_blank">Dotnet Fiddle</a></li>
									<li><a href="https://code.google.com/apis/ajax/playground/" title="Sử dụng API của Google và có thể debug được tất cả code từ một cửa sổ duy nhất" target="_blank">Code.google</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-md-12 col-lg-12 col-xl-12">
					<h3>Main working!</h3>



				</div>
			</div> -->
		</section>
	</div>
</div>