<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Delegate</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/csharp']" class="breadcrumb-link">C#</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Delegate</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    	<!-- 1. Delegate là gì? -->
        <p id="goto1"><b>{{ dataToc[0].id }}. {{ dataToc[0].title }}</b></p>
        <p>Delegate trong C# tương tự như con trỏ hàm trong C hoặc C++.</p>
        <p>Delegate là một kiểu dữ liệu, nó dùng để tham chiếu (references) đến các hàm (phương thức) có tham số và kiểu trả về phù hợp với khai báo kiểu.</p>

        <!-- 2. Khai báo Delegate -->
        <p id="goto2"><b>{{ dataToc[1].id }}. {{ dataToc[1].title }}</b></p>
        <p>Khai báo Delegate giống như cách khai báo phương thức nhưng có thêm từ khóa delegate và không có thân phương thức</p>
		<pre><code class="language-csharp">{{ delegateStrCode1 }}</code></pre>
		<pre><code class="language-csharp">delegate int MyDelegate(string s);</code></pre>
		<p>Khi kiểu Delegate được khai báo, đối tượng Delegate được tạo:</p>
		<p>+ Với từ khóa new và được tham chiếu đến một phương thức cụ thể. Phương thức này phải cùng kiểu trả về và tham số đầu vào với Delegate đã tạo.</p>
		<p>+ Sẽ được gán với các hàm có sự tương đồng về tham số và kiểu trả về.</p>

		<!-- 3. Ví dụ -->
		<p id="goto3"><b>{{ dataToc[2].id }}. {{ dataToc[2].title }}</b></p>
		<pre><code class="language-csharp">{{ code.code_1 }}</code></pre>

		<!-- 4. Gán nhiều phương thức vào delegate -->
		<p id="goto4"><b>{{ dataToc[3].id }}. {{ dataToc[3].title }}</b></p>
		<pre><code class="language-csharp">{{ code.code_2 }}</code></pre>

		<!-- 5. Sử dụng Func -->
		<p id="goto5"><b>{{ dataToc[4].id }}. {{ dataToc[4].title }}</b></p>
		<p>Func là mẫu delegate định nghĩa sẵn và có kiểu trả về.</p>
		<pre><code class="language-csharp">{{ delegateStrCode2 }}</code></pre>
		<pre><code class="language-csharp">{{ code.code_3 }}</code></pre>

		<!-- 6. Sử dụng Action -->
		<p id="goto6"><b>{{ dataToc[5].id }}. {{ dataToc[5].title }}</b></p>
		<p>Action tương tự như Func, điều khác duy nhất là nó không có kiểu trả về. Nghĩa là biến kiểu Action có thể gán bằng các hàm có kiểu void</p>
		<pre><code class="language-csharp">{{ code.code_4 }}</code></pre>

		<!-- 7. Sử dụng Delegate làm tham số phương thức -->
		<p id="goto7"><b>{{ dataToc[6].id }}. {{ dataToc[6].title }}</b></p>
		<pre><code class="language-csharp">{{ code.code_5 }}</code></pre>
		<app-table-of-content [childDataToc]="dataToc"></app-table-of-content>
    </div>
</div>