<div id="toc-panel" [ngClass]="isShow ? 'toc-show' : 'toc-hidden'">
	<div id="toc_container">
		<p class="toc_title">Nội dung</p>
		<ul class="toc_list">
			<li *ngFor="let item of childDataToc">
				<a href="javascript:void(0)" (click)="scrollTo(item.gotoElement)">{{ item.id }}. {{ item.title }}</a>
				<ul *ngIf="item.details != null">
					<li *ngFor="let itemDetail of item.details">
						<a href="javascript:void(0)" (click)="scrollTo(itemDetail.gotoElementDetail)">{{ item.id }}.{{ itemDetail.idDetail }}. {{ itemDetail.titleDetail }}</a>
					</li>
				</ul>
			</li>
		</ul>
		<a id="button-show-toc" class="show"></a>
	</div>
</div>