<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Spin Text On Mouse Hover</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/css']" class="breadcrumb-link">CSS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Spin Text On Mouse Hover</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    	<div class="result">
    		<ul>
				<li>L</li>
				<li>E</li>
				<li>A</li>
				<li>R</li>
				<li>N</li>
				<li>I</li>
				<li>N</li>
				<li>G</li>
				<div style="clear: both;"></div>
			</ul>
    	</div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    	<p><b>HTML</b></p>
    	<pre><code class="language-xml">{{ code.code_1 }}</code></pre>
    	<p><b>CSS</b></p>
    	<pre><code class="language-css">{{ code.code_2 }}</code></pre>
    </div>
</div>