<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Sự khác nhau giữa .click() và .on("click")</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/javascript']" class="breadcrumb-link">Javascript</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sự khác nhau giữa .click() và .on("click")</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<p><b>1. Xét 2 ví dụ:</b></p>
		<p><i>Ví dụ 1: Sử dụng .click()</i></p>
		<pre><code class="language-markup">{{ code.code_1 }}</code></pre>
		<p><i>Ví dụ 2: Sử dụng .on("click")</i></p>
		<pre><code class="language-markup">{{ code.code_2 }}</code></pre>
		<p><b>2. Kết quả chạy chương trình</b></p>
		<p>Khi chạy chương trình, hãy nhấp chọn nút Add. Sau đó, nhấp chọn tiếp nút <i>Show alert</i>.</p>
		<p>Kết quả:</p>
		<p class="first-line-one-tab">+ Ví dụ 1: Không hiển thị thông báo "OK"</p>
		<p class="first-line-one-tab">+ Ví dụ 2: Có hiển thị thông báo "OK"</p>
		<p><b>3. Giải thích:</b></p>
		<p class="first-line-one-tab">Khi DOM được load thì tất cả các element trên DOM đều có thể nhận được các event. Tức là lúc này bắt sự kiện click cho element bằng .click() hoặc .on("click") đều được.</p>
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<pre><code class="language-javascript">{{ code.code_3 }}</code></pre>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<pre><code class="language-javascript">{{ code.code_4 }}</code></pre>
			</div>
		</div>
		<p class="first-line-one-tab">Nhưng nếu 1 element được sinh ra sau khi DOM được load (ở ví dụ trên là nút <i>Show alert</i> được sinh ra sau khi DOM đã được load) thì về cơ bản trên DOM không nhìn thấy được nên nên nó không bắt được event. Như vậy, việc bắt sự kiện với 1 trong 3 cách sau để bắt sự kiện click cho nút <i>Show alert</i> sẽ không hoạt động:</p>
		<pre><code class="language-javascript">{{ code.code_5 }}</code></pre>
		<pre><code class="language-javascript">{{ code.code_7 }}</code></pre>
		<pre><code class="language-javascript">{{ code.code_6 }}</code></pre>
		<p class="first-line-one-tab">Muốn nút <i>Show alert</i> nhận được event thì phải chỉ 1 selector từ một thành phần đã tồn tại trên DOM rồi mới đến nút <i>Show alert</i>. Tức là bắt sự kiện từ một element cha rồi đến element đó</p>
		<pre><code class="language-javascript">{{ code.code_8 }}</code></pre>
		<p>Tóm lại: </p>
		<p class="first-line-one-tab">.click(): chỉ hoạt động khi element được kết xuất và gắn trên DOM đã được load.</p>
		<p class="first-line-one-tab">.on("click"): được gắn động vào các element trên DOM. Nghĩa là có thể hoạt động trên các element được sinh ra sau khi DOM đã được load </p>
    </div>
</div>

