<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Download</h2>
             <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Download</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    	<p><b>Unikey 4.2: </b><a href="http://www.mediafire.com/file/6q90rsrqjw0xo94/unikey42RC4-140823-win32.zip" target="_blank"> Tải về <i class="fas fa-cloud-download-alt"></i></a></p>
        <p><b>Office 2010: </b><a href="http://www.mediafire.com/file/8sl0o0lbh2vkip0/OFFICE+2010+FULL.rar" target="_blank"> Tải về <i class="fas fa-cloud-download-alt"></i></a></p>
		<p><b>Toolkit Office 2010: </b><a href="http://www.mediafire.com/file/2zxzlmpjf4axqp1/Office+2010+Toolkit+v2.0.rar" target="_blank"> Tải về <i class="fas fa-cloud-download-alt"></i></a></p>
		<p><b>Office 2013 Professional Plus SP1 64bit: </b><a href="http://www.mediafire.com/file/rlqnm2f8c9izkth/Office_Professional_Plus_2013_SP1_64bit_English.rar" target="_blank"> Tải về <i class="fas fa-cloud-download-alt"></i></a></p>
		<p><b>Office 2016: </b><a href="http://www.mediafire.com/file/tuq38c5q3upcgkp/Microsoft+office+2016.rar" target="_blank"> Tải về <i class="fas fa-cloud-download-alt"></i></a></p>
		<p><b>Visual Studio 2010 Community: </b><a href="http://www.mediafire.com/file/v8o27480w8d7wr7/VISUAL+STUDIO+2010+COMMUNITY.iso" target="_blank"> Tải về <i class="fas fa-cloud-download-alt pr-4"></i></a>KEY: YCFHQ9DWCYDKV88T2TMHG7BHP</p>
		<p><b>Windows 7 32 bit: </b><a href="http://www.mediafire.com/file/1afs8iroxi494yi/X17-59463.rar" target="_blank"> Tải về <i class="fas fa-cloud-download-alt"></i></a></p>
		<p><b>Photoshop CS6: </b><a href="http://www.mediafire.com/file/gffs39pk5y6gml5/Photoshop+CS6+Full.rar" target="_blank"> Tải về <i class="fas fa-cloud-download-alt"></i></a></p>
		<p><b>Your Uninstaller: </b><a href="http://www.mediafire.com/file/xhay923gn34nteo/Your+Uninstaller+Pro+7.5+Final+Full.rar" target="_blank"> Tải về <i class="fas fa-cloud-download-alt"></i></a></p>
		<p class="pl-5">Name: sharyn kolibob</p>
		<p class="pl-5">Registration code: 000016-9P0U6X-N5BBFB-EH9ZTE-DEZ8P0-9U4R72-RGZ6PF-EMYUAZ-9J6XQQ-89BV1Z</p>
		<p><b>Key Winrar: </b><a href="http://www.mediafire.com/file/pf4dzfuc4ekfc4b/Full+key+WinRAR.rar" target="_blank"> Tải về <i class="fas fa-cloud-download-alt"></i></a></p>
		<p><b>Olala Pascal: </b><a href="http://www.mediafire.com/file/1ssiixda63uyhyw/Olala+Pascal.rar" target="_blank"> Tải về <i class="fas fa-cloud-download-alt"></i></a></p>
		<p><b>Warcraft 3: </b><a href="http://www.mediafire.com/file/6fl27gav7wjtqig/WarcraftIII1.24e.rar" target="_blank"> Tải về <i class="fas fa-cloud-download-alt"></i></a></p>
		
    </div>
</div>