<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Skew Text On Hover</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="breadcrumb-link">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/css']" class="breadcrumb-link">CSS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Skew Text On Hover</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    	<div class="result">
    		<div class="content-css">
				<span>L</span>
				<span>E</span>
				<span>A</span>
				<span>R</span>
				<span>N</span>
				<span>I</span>
				<span>N</span>
				<span>G</span>
				<div style="clear: both;"></div>
			</div>
    	</div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    	<p><b>HTML</b></p>
    	<pre><code class="language-xml">{{ code.code_1 }}</code></pre>
    	<p><b>CSS</b></p>
    	<pre><code class="language-css">{{ code.code_2 }}</code></pre>
    </div>
</div>